@import url("./grid.css");
/* titles font  */
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
/* date font  */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/cork.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* utility  */
.d-flex{
    display: flex;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.mt-1{
    margin-top: 1rem;
}

.position-relative{
    position: relative;
}

h1 , h2{
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
/* #region header  */
#header{
    background-image: url("../img/wall.png");
    justify-content: center;
    padding: 1rem 0;

    h1{
        font-size: 4.5rem;
        font-weight: 900;
    }
}
/* #endregion header  */

/* #region main  */
#main{
    padding: 2rem 0;

    .card{
        background-color: white;
        padding: 1.5rem ;

        .card-top{
            img{
                width: 100%;
            }

        }
        .card-bottom{
            padding: 0.5rem 0;
        }
        .card-title{
            font-weight: 500;
            font-size: 1.5rem;
        }

        .card-date{
            margin-top: 0.3rem;
            font-family: "Sometype Mono", monospace;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }


        .pin-img{
            position: absolute;
            height: 50px;
            top: -2%;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

/* #endregion main  */


/************* media query ******************/

